<div class="aside--master">
    <ul>
        <li><a href="index.php?view=_mant-arts"><i class="fa-solid fa-parachute-box" style="color: #114B5F;"></i>Mantenimiento de articulos</a></li>
        <li><a href="index.php?view=_mant-perm"><i class="fa-solid fa-unlock" style="color: #114B5F;"></i>Mantenimiento de permisos</a></li>
        <li><a href="#"><i class="fa-solid fa-cash-register" style="color: #114B5F;"></i>Mantenimiento de cobros</a></li>
        <li><a href="#"><i class="fa-solid fa-hand-holding-dollar" style="color: #114B5F;"></i>Mantenimiento de devoluciones</a></li>
    </ul>
</div>