<div class="showGood">
    <div class="card-title-good">
      <h2>Hoodie Padel</h2>  
    </div>
    <div class="card-img-descriptionpay">
        <div class="img-good-background">
            <img class="img--good" src="../img/Productos/Ropa/Hoodies/sudaderapadel.svg"> 
        </div>
        <div class="description--pay">
            <div class="good-description">
                <h3>Descripcion Artículo</h3>
                <p class="description">Sudadera 100% algodon varios colores....etc</p>
            </div>
            <div class="good-pay">
                    <button id="button-cart">
                        <div class="card-good-button-cart">
                            <i class="fa-solid fa-cart-shopping fa-cart"></i>
                            <p>Comprar</p>
                        </div>
                    </button>
                    <button id="button-heart">
                        <div class="card-good-button-heart">
                            <i class="fa-solid fa-heart-circle-plus fa-heart"></i>
                            <p>+ Lista de deseos</p>
                        </div>
                    </button>
            </div>
        </div>
    </div>
</div>