<div class="slideshowArea--items">
    <p>Articulos Top</p>
    <div class="articulos-top">
        <button id="button-slideshow-left">
            <div class="button-slideshow">
                <i class="fa-solid fa-circle-arrow-left slideshow--arrow" style="color: #f3e9d2;"></i>
            </div>
        </button>
        <div class="articulos">
            <div class="articulo">
                <a href="articulo***************">
                <a href="articulo.php">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/hoodie_canada.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
                </a>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/sudaderapadel.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="articulo">
            <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
            </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <a href="articulo***************">
                <p>Sudadera DJC color blanco diseño Canadá </p>
                <img src="../img/Productos/Ropa/Hoodies/SweaterKeepCalm.png">
                <p>29,95€</p>
                </a>
                <div class="carrito-item--slideshow">
                    <div class="cart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-cart-shopping fa-cart" style="color: #f3e9d2;"></i></button>
                    </div>
                    <div class="heart-item-div action-butt-articulo">
                        <button><i class="fa-solid fa-heart-circle-plus fa-heart" style="color: #f3e9d2;"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button id="button-slideshow-right">
            <div class="button-slideshow">
                <i class="fa-solid fa-circle-arrow-right slideshow--arrow" style="color: #f3e9d2;"></i>
            </div>
        </button>
    </div>
    
</div>