:root{
    --midnight-green: #114b5f;
    --sea-green: #1A936F;
    --celadon: #88D498;
    --tea-green: #C6DABF;
    --moka-light: #F3E9D2;

}

.aside--main{
    display: flex;
    min-height: 700px;
    height: auto;
}

.aside--main > aside{
    width: 20%;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: var(--moka-light);
    padding: 20px;
}

.aside--welcome{
    margin: 20px 0 20px 0;
    height: 20%;
}

.aside--welcome > h3{
    text-align: center;
    font-size: 1.8em;
}

.aside--main > main{
    padding: 20px;
    width: 80%;
}

.aside-options{
    height: 70%;
}

.aside-exit{
    height: 10%;
}

aside li a{
    color: var(--midnight-green);
    font-size: 1em;
    border-radius: 5px;;
}

aside li a:hover{
    background-color: var(--celadon);
}

aside ul li a i{
    margin: 10px 10px 10px 10px;
    font-size: 0.7em;
}

aside ul li a .fa-heart{
    font-size: 0.7em;
}

.btn-exit{
    font-size: 1em;
    color: var(--midnight-green);
    margin: 10px;
    background-color: var(--tea-green);
}

.fa-door-open{
    color: var(--midnight-green);
}






