:root{
    --midnight-green: #114B5F;
    --sea-green: #1A936F;
    --celadon: #88D498;
    --tea-green: #C6DABF;
    --moka-light: #F3E9D2;

}

.mensajes{
    height: auto;
    border: 2px solid black;
}


.img-tabla{
    height: 50px;
}

table{
    width: auto;
    border-collapse: collapse;
}

td{
    width: auto;
    height: auto;
    text-align: center;
    white-space: nowrap;
}

.td-wrap{
    white-space: normal;
}

tr:nth-child(odd) {
    background-color: var(--moka-light);
}

tr:nth-child(even) {
    background-color: #f4f2ee;
}

#imagePreview{
    max-height: 200px;
    max-width: 200px;
}

.card-title h5{
    font-size: 0.9rem;
    
}

.btn-show-good-card{
    color: var(--midnight-green);
    font-size: 0.9rem;
    text-align: center;
}

.btn-add-cart{
    background-color: var(--sea-green);
    font-size: 1.1rem;
    color: var(--moka-light);
}

.btn-add-cart:hover{
    background-color: #136c51;
    color: var(--moka-light);
}

#search{
    color: var(--midnight-green);
}

::placeholder {
    color: var(--midnight-green); 
}

#del-subcat{
    margin: 10px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width:450px;
    border: 2px solid var(--midnight-green);
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: entradaSuave;
    animation-duration: 1s;
}
