:root{
    --midnight-green: #114B5F;
    --sea-green: #1A936F;
    --celadon: #88D498;
    --tea-green: #C6DABF;
    --moka-light: #F3E9D2;

}


.img-tabla{
    height: 50px;
}

table{
    width: auto;
    border-collapse: collapse;
}

td{
    width: auto;
    height: auto;
    text-align: center;
    white-space: nowrap;
}

.td-wrap{
    white-space: normal;
}

tr:nth-child(odd) {
    background-color: var(--moka-light);
}

tr:nth-child(even) {
    background-color: #f4f2ee;
}

#imagePreview{
    max-height: 200px;
    max-width: 200px;
}